html {
  font-size: 18px;
}

.navbar-brand {
  margin-left: 2rem;
}

.navbar {
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
  margin-right: 2rem;
}

.jumbotron {
  background-color: #ffffff;
  padding-bottom: 2rem;
}

.center-content {
  justify-content: center;
  text-align: center;
}

.space-bottom {
  margin-bottom: 3rem;
}

.less-space-bottom {
  margin-bottom: 2rem;
}

.inbetween-space {
  margin: 2rem 0 2rem 0;
}

#gallery {
  margin-top: 4rem;
}

.project {
  background-image: url("../images/espresso.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.project:hover {
  transform: scale(1.1);
}

.project-info {
  display: none;
  width: 60%;
  background-color: hsla(46, 100%, 0%, 0.4);
  color: white;
}

.project-info a {
  color: white;
  text-decoration: underline;
}

.project-name {
  margin-top: 0.5rem;
}

footer {
  background-color: #e3f2fd;
  height: 3rem;
}
